<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">Unicomecer</a>
         <div *ngIf="(user$ | async) as user; else login">  
         
          
            <a class="ml-2 ">{{user.login}}</a>
            <div>
                <button (click)="logout()"> SAIR</button>
            </div>
            
        </div>
        <ng-template #login>
            <span class="navbar-tex">
                <a [routerLink]="['']"> Please, login!</a>
            </span>
        </ng-template>
    </nav>
</header>