<body class="container">
  <div class="text-center">
    <br />
    <br />
    <h1>Bem-Vindo!</h1>
    <br />
    <br />

    <form class="form-group">
      <div class="row">
        <!-- Primeira linha -->
        <div class="col-md-4">
          <div class="form-group text-center">
            <button
              class="btn btn-primary mt-1"
              type="button"
              (click)="ListarCategoria()"
            >
              Listar Categoria
            </button>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group text-center">
            <button
              class="btn btn-primary mt-1"
              type="button"
              (click)="ListarCliente()"
            >
              Listar Clientes
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group text-center">
            <button
              class="btn btn-primary mt-1"
              type="button"
              (click)="ListarProdutos()"
            >
              Listar Produtos
            </button>
          </div>
        </div>

        <!-- Segunda linha -->

        <div class="col-md-4">
          <div class="form-group text-center">
            <button
              class="btn btn-primary mt-1"
              type="button"
              (click)="CadastraCategoria()"
            >
              Cadastrar Categoria
            </button>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group text-center">
            <button
              class="btn btn-primary mt-1"
              type="button"
              (click)="CadastraCLiente()"
            >
              Cadastrar Cliente
            </button>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group text-center">
            <button
              class="btn btn-primary mt-1"
              type="button"
              (click)="CadastraProdutos()"
            >
              Cadastrar Produtos
            </button>
          </div>
        </div>
        
        <!-- terceira linha -->

        <div class="col-md-4">
          <div class="form-group text-center">
            <button
              class="btn btn-primary mt-1"
              type="button"
              (click)="ListarUsuario()"
            >
              Listar Usuarios
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
